#Don't track contents of these folders
data/
src/pretrained/*
src/output/*
src/saved_models/*
results/
src/code/inception/ft_wikiart/
src/code/inception/baseline_generated/
__pycache__/
src/code/fid/Generated_Images/*
src/code/fid/Sorted_Images/*
src/code/fid/ft_genre_15eps.pth
